.layout{
    background-color: white;
    width: 550px;
    display: flex;
}

.leftLayout{
    flex: 1;
    padding: 20px;
}
.centerLayout{
    flex: 5;
    padding: 10px;
}
.rightLayout{
    flex: 1;
}
.studentImage{
    border: 0.5px solid #dbdbdb;
    border-radius: 60px;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.studentName{
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
}
.otherInfo{
    margin-left: 10px;
    color: grey;
}
.iconClass{
    font-size: 40px;
    font-weight: 700;
    color: grey;
    cursor: pointer;
    user-select: none;
}
.testMarks{
    margin-top: 15px;
    margin-bottom: 10px;
}
.addTagDiv{
    width: 100px;
}
.addTagInput{
    font-size: 11px;
    padding-left: 0;
}
.tagItems{
    background-color: #dbd6d6;
    padding: 4px 8px;
    color: black;
    margin-right: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(148, 147, 147, 0.75);
}
.tagArea{
    margin-top: 10px;
}